<md-dialog aria-label="New Todo" layout="column" layout-align="space-between center">
  <md-dialog-content layout="column" layout-padding flex style="width:100%">
      <h2 class="md-title" style="text-align: center;color:rgb(97,97,97);">New Task</h2>
      <div layout="column">
        <md-input-container>
          <label>Title</label>
          <input ng-model="newTodo.title">
        </md-input-container>
        <md-input-container>
          <label>Content</label>
          <input ng-model="newTodo.content" ng-disabled="!newTodo.title.length">
        </md-input-container>
      </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-accent" ng-click="addTodo(newTodo)" ng-disabled="!newTodo.title.length" style="margin-right:20px;" >
      Save
    </md-button>
    <span flex></span>
  </md-dialog-actions>
</md-dialog>